{
  "plugins": [
    "@semantic-release/commit-analyzer",
    "@semantic-release/release-notes-generator",
    [
      "@semantic-release/npm",
      {
        "pkgRoot": "./dist/libs/core"
      }
    ],
    [
      "@semantic-release/npm",
      {
        "pkgRoot": "./dist/libs/fs"
      }
    ],
    [
      "@semantic-release/npm",
      {
        "pkgRoot": "./dist/libs/child-process"
      }
    ],
    "@semantic-release/github"
  ]
}
