{
  "plugins": [
    "@semantic-release/commit-analyzer",
    "@semantic-release/release-notes-generator",
    [
      "@semantic-release/npm",
      {
        "pkgRoot": "./dist/libs/core"
      }
    ],
    [
      "@semantic-release/npm",
      {
        "pkgRoot": "./dist/libs/fs"
      }
    ],
    [
      "@semantic-release/npm",
      {
        "pkgRoot": "./dist/libs/child-process"
      }
    ],
    [
      "@semantic-release/npm",
      {
        "pkgRoot": "./dist/libs/http"
      }
    ],
    [
      "@semantic-release/github",
      {
        "assets": [
          {
            "path": "dist/libs/child-process",
            "label": "@rxnode/child_process"
          },
          {
            "path": "dist/libs/core",
            "label": "@rxnode/core"
          },
          {
            "path": "dist/libs/fs",
            "label": "@rxnode/fs"
          },
          {
            "path": "dist/libs/http",
            "label": "@rxnode/http"
          }
        ]
      }
    ]
  ]
}
